# Ignore backend dependencies and environment variables
backend/node_modules
backend/.env

# Ignore frontend dependencies and environment variables
frontend/node_modules
frontend/.env

# Ignore OS and editor files
.DS_Store
Thumbs.db